{% extends 'base.html' %}
{% load static %}
{% block title %}Siswa{% endblock title %}
{% block content %}
<section class="ftco-section">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<h4 class="text-center mb-4">DATA SISWA PKL 2023</h4>
				<div class="table-wrap text-b">
					<table class="table">
					<thead style="background-color: rgb(0, 132, 255);">
					  <tr>
						
						<th>Nisn</th>
                        <th>Nama</th>
                        <th>Jenis Kelamin</th>
                        <th>Sekolah</th>
                        <th>No.Hp</th>
                        <th>Email</th>
                        <th>Tempat Lahir</th>
                        <th>Tanggal Lahir</th>
                        <th>Alamat</th>

					  </tr>
					</thead>
					<tbody>
                    {% for siswa in siswas %}
                        <tr>           
                        <td>{{siswa.nisn}} </td>
                        <td>{{siswa.NAMA}}</td>
                        <td>{{siswa.jenis_kelamin}}</td>
                        <td>{{siswa.sekolah}}</td>
                        <td>{{siswa.hp}}</td>
                        <td>{{siswa.email}}</td>
                        <td>{{siswa.tempat_lahir}}</td>
                        <td>{{siswa.tanggal_lahir}}</td>
                        <td>{{siswa.alamat}}</td>
                        </tr>
                    {% endfor %}
					</tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}







    
